.logo {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgb(75, 59, 59),purple);
}

.container {
  max-width: 955px;
  /* background-color: brown; */
  border: 2px solid black;
  margin: auto;
  height: 65vh;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 20px;
}
.message {
  background-color: gray;
  width: 25%;
  padding: 10px;
 
  border: 2px solid black;
  border-radius: 10px;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
}
#messageInp{
    width: 91%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid black;
    height: 35px;
}

